body{
    background-color:indianred;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    border-radius: 1rem;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap:1.5vmin;
     justify-content: center;
    align-items: center;
    transform:translateX(-100px);
   

}
.box {
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    gap: 1.5vmin;
    box-shadow: 0 0 1rem black;
    font-size: 8vmin;
    color:green;
    background-color:antiquewhite;
}
#reset{
    
    padding:1rem;
    font-size: 1.25rem;
    
    margin-top: 40px;
    background-color: brown;
    color:aliceblue;
    border-radius: 1rem;
    border:none;
    align-items: center;
    
    justify-content: center;
    align-items: center;
    margin-right: 220px;
    
}

#msg{
    font-size: 8vmin;
    color: floralwhite;
    margin: 0;
    padding: 0;
    
    transform: translateX(-90px);
    
    
}
.message {
    display :flex;
    flex-direction: column;
    gap:4rem;
    margin-bottom: 60px;
    height:100vmin;
    justify-content: center;
    
    
    
    
    
}
#newbtn {
    margin-left: 140px; 
    background-color: brown;
    color: aliceblue;
    border-radius: 1rem;
    border:none;
    font-size: 1.25rem;
    padding:1rem;
    width: 150px;
    
    
}
.hide{
    display:none;
    
}
h1{
    transform:translateX(-110px);
    margin-bottom: 30px;
    

}